<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Garment</title>
  </head>
  <body>
    <h1>Add new Garments</h1>
    <form action="/garments" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" />
      <label for="location">Location</label>
      <input type="text" name="location" />
      <label for="contact">Contact</label>
      <input type="number" name="contact" />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
